body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 5px 0 5px;
    list-style: none;
    cursor: pointer;

}

.capa {
    display: flex;
    justify-content: center;
}

.select {
    /* background-color: chocolate; */
    border-bottom: 2px solid chocolate
}

a {
    text-decoration: none;
    color: black;
}

.ImagemPerfil {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ImagemPerfil img {
    width: 100px;
    border-radius: 50%;

}

.ImagemPerfil h1 {
    margin-left: 150px;
}

.card {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
/* justify-content: center; */
text-align:justify;

}

.card img {
    width: 300px;
    border-radius: 15px;
    height: 150px
}

section {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

