body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 5px 0 5px;
    list-style: none;
    cursor: pointer;

}


.select{
    /* background-color: chocolate; */
    border-bottom: 2px solid chocolate

}

a{
    text-decoration: none;
    color:black;
}

p{
    text-align: justify;

}